<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chart.Js with MongoDB & Node.Js</title>
  <style>
    body {font-family: Lato;}
    a { text-decoration: none; color: #777;}
  </style>
</head>
<body>
  <a href="/generate">Generate 100 users</a>
  <canvas id="myChart"></canvas>
  <!-- Start Js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    let ctx = document.querySelector('#myChart').getContext('2d');


var barChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [<%= Orario %> ],
    datasets: [{
      label: 'Valori di Sigma',
      data:[ <%= Sigma %>   ] 
    }]
  }
});






  </script>
</body>
</html>
